<% @users.each do |user| %>
  <div class="user">
  <%= image_tag user.profile_img.url(:thumb), alt: "#{user.username} avatar" %>
  <%= link_to  user.username, "users/#{user.id}"%>
  </div>

<% end %>
