<!-- <% title "Home Page" %>



<div class="login-wrapper">
	<div class="container">
		<h1>Welcome to Local Gamers Network</h1>

		<form class="form">
			<input type="text" placeholder="Username">
			<input type="password" placeholder="Password">
			<button type="submit" id="login-button">LogIn</button></br>
			<h2>
			<p id="signup" > New To LGN? </p>
		  </h2>
			<button type="submit" id="login-button">SignUp</button>
		</form>
	</div>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div> -->
