<% title "Home Page" %>

<%= link_to "List of users", users_path %>
<%= link_to "Chat room", rooms_show_path %>
<% if user_signed_in? %>
<%= link_to "Events", events_path %>
<% end %>

<div class="wrapper">
	<div class="container">
		<h1>Welcome</h1>

		<form class="form">
			<input type="text" placeholder="Username">
			<input type="password" placeholder="Password">
			<button type="submit" id="login-button">Login</button>
		</form>
	</div>

	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
