<% title "Hot Games" %>
<h1>Hot Games</h1>

<div class="games-wrapper">
  <ul id="game_images" class="clean-list">
    <% @hot_games.each do | game_img |%>
      <li class="game-image cap-bot">
        <img src="<%= game_img[:url] %>" alt="<%= game_img[:name] %>">
        <span><%= game_img[:name] %></span>
      </li>
    <% end %>
  </ul>
</div>
