<% title "Hot Games" %>
<h1>Hot Games</h1>

<div class="games-wrapper">
  <ul id="game_images" class="clean-list">
    <% @hot_games.each do | game | %>
      <li class="game-image cap-bot">
        <%= link_to image_tag(game[:url], alt: game[:name]), controller: "games", action: "add_to_user" %>
        <!-- <%#= link_to image_tag(game[:url], alt: game[:name]), controller: "games", action: "add_to_user", method: :post %> -->
          <!-- <img src="<%#= game[:url] %>" alt="<%#= game[:name] %>"> -->
        <!-- <span><%#= game_img[:name] %></span> -->
      </li>
    <% end %>
  </ul>
</div>
